{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}<u>Remediation Task Log</u>{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="row base-margin-left">
			<div class="col-1"></div>
			<div class="col-10 panel panel--raised half-margin-right" style="background-color:#ced4da;">
				<div class="row base-margin-top">
					<div class="col-1"></div>
					<div class="col-10">
						<table class="table table--striped">
							<tr>
								<th style="text-align: center;">Timestamp</th>
								<th style="text-align: center;">Type</th>
								<th style="text-align: center;">Description</th>
							</tr>
							{% if task_log == [] %}
							<tr>
								<td></td>
								<td>No Policies Currently Applied</td>
								<td></td>
							</tr>
							{% else %}
							{% for task in task_log %}
							<tr>
								<td style="text-align: center;">{{ task['ts'] }}</td>
								<td style="text-align: center;">{{ task['type'] }}</td>
								<td style="text-align: center;">{{ task['description'] }}</td>
							</tr>
							{% endfor %}
							{% endif %}
						</table>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</form>
{% endblock %}